<a href="https://colab.research.google.com/github/alexeynick/msu_oil_gas/blob/main/module2_lesson6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задачи модуля №2. Характеристики вытеснения

In [2]:
import pandas as pd
import numpy as np
import io

import plotly.express as px
import plotly.graph_objects as go
from plotly.graph_objs import *
import matplotlib.pyplot as plt 

from sklearn.impute import KNNImputer

In [3]:
df_object1 = pd.read_csv('https://raw.githubusercontent.com/alexeynick/msu_oil_gas/main/datasets/dynamic_object_1.csv')
df_object1.tail(10)

    year  well_production  ...  inject_comp_total  inject_response
34  2000               84  ...              198.2            158.9
35  2001               94  ...              196.9            132.3
36  2002               90  ...              196.3            143.1
37  2003               84  ...              196.5            123.0
38  2004               81  ...              196.8             97.2
39  2005               76  ...              197.1            105.2
40  2006               75  ...              197.0            100.5
41  2007               76  ...              195.6             67.1
42  2008               75  ...              194.2             61.8
43  2009               75  ...              190.0             42.8

[10 rows x 23 columns]